
/* This is my favorite way of making wobsites look :D */

body {
	background: white url("Solid.jpg") no-repeat bottom;
	/*max-width: 450px;*/
	margin: 50px auto;
}

h1 {
	text-align:center;
	color:#261003;
}

p {
	text-align:left;
	color:#411e03;
}